

<PageTitle>Home</PageTitle>

<div class="home-container">
    <div class="contenido">
        <h1>Bienvenidos</h1>

        <a href="/pedido" class="btn-primary">
            Ir a Nuevo Pedido
        </a>
    </div>
</div>